[Unit]
Description=Setup OVS Bridge with VLANs
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/setup-ovs.sh
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
