[Unit]
Description=Setup OVS Bridge with VLANs
Before=network-pre.target network.target network-online.target systemd-networkd-wait-online.service
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-ovs.sh
RemainAfterExit=true

[Install]
WantedBy=network.target
